.wrapper{
	color:#f9c8d5;
	background-color: green;
}
.menu{
	float: right;
}
.menu{
	float: right;
}

.menu{
	float: right;
}
.menu{
	float: right;
}
.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}
.text_wrapper{
	font-size: 15px;
	color: #ffff;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}.menu{
	float: right;
}
