@font-face{
 font-family:"HelveticaLight";
 src: url(fonts/HelveticaLight.ttf) format("ttf"),
		 url(fonts/HelveticaLight.eot) format("eot"),
		 url(fonts/HelveticaLight.woff) format("woff");
}
body{
	font-family:"HelveticaLight","Arial",sans-serif;
	font-weight:normal;
	font-style: normal;
	background: linear-gradient(to bottom right, #4677e9, #72d6f9);
	color: #4b5f66;
	padding:20px;
}
img{
	width:100px;
	height:100px;
    margin: 7px 7px 7px 0;
    float:left;
    border-radius: 10%;
}
h1{
	text-align: center;
}
.menu li{
	display: inline-block;
}
.menu{
	text-align: center;
}
.menu a{
text-decoration: none;
}
a{
	color: #4b5f66;
}
a:active{
	color: #4b5f66;

}
a:hover{
	color: #4b5f66;
}
a:visited{
	color: #4b5f66;
}
#camera{
	clear:both;
}
#price{
min-height: 130px;
}  